<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TCC_IP_0" value="192.168.1.171"/>
    <add key="TCC_PORT_0" value="4073"/>
    <add key="TCC_IP_1" value="192.168.1.173"/>
    <add key="TCC_PORT_1" value="4073"/>
    <add key="TCC_IP_2" value="192.168.1.172"/>
    <add key="TCC_PORT_2" value="4073"/>
    
    <add key="LocalIP_TCC" value="192.168.1.61"/>
    <add key="LocalPort_TCC_0" value="4173"/>
    <add key="LocalPort_TCC_1" value="4273"/>
    <add key="LocalPort_TCC_2" value="4373"/>

    <add key="LocalIPController" value="192.168.1.61"/>
    <add key="LocalPortController" value="10100"/>

    <add key="LocalIP_CBI" value="127.0.0.1"/>
    <add key="LocalPortCBI" value="1010"/>

    <add key="LocalPortD3" value="7504"/>
    <add key="BroadcastPort" value="7799"/>

    <add key="CiCount" value="1"/>
    <add key="TimerTick" value="2"/>
    <add key="CheckAbleTime" value="true"/>
  </appSettings>
</configuration>
