<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="LocalAddr" value="127.0.0.1, 10112"/>
    <add key="RequestPort" value="20201"/>

    <add key="LogAddr" value="127.0.0.1, 20200"/>
    <add key="AtsAddr" value="127.0.0.1, 20300"/>

    <add key="站场图尺寸" value="3000,0"/>
    <add key="整体偏移" value="0,0"/>

    <add key="CiID" value="0"/>
  </appSettings>
</configuration>
